/* line 17, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../scss/style.scss */
.cf:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 11, ../scss/style.scss */
body {
  font-family: 'Lato', sans-serif;
}

/* line 15, ../scss/style.scss */
div.container {
  width: 75%;
  padding: 0 15px;
  margin: 0 auto;
}

/* line 23, ../scss/style.scss */
header div.header-top {
  padding: 25px 0;
  background-color: #ffffff;
}
/* line 27, ../scss/style.scss */
header div.header-top ul {
  float: right;
  padding-top: 20px;
}
/* line 31, ../scss/style.scss */
header div.header-top ul li {
  float: left;
}
/* line 34, ../scss/style.scss */
header div.header-top ul li a {
  color: #444444;
  text-decoration: none;
  padding: 0.5em 1em;
}
@media (max-width: 768px) {
  /* line 34, ../scss/style.scss */
  header div.header-top ul li a {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  /* line 34, ../scss/style.scss */
  header div.header-top ul li a {
    font-size: 15px;
    padding: 5px 5px;
  }
}
/* line 48, ../scss/style.scss */
header div.header-top ul li a:hover {
  background-color: #1bbc9b;
  color: #ffffff;
}
/* line 56, ../scss/style.scss */
header div.header-top div.logo {
  float: left;
}
@media (max-width: 480px) {
  /* line 56, ../scss/style.scss */
  header div.header-top div.logo {
    float: none;
  }
}
/* line 63, ../scss/style.scss */
header div.header-top div.logo a {
  text-align: center;
  display: block;
}
/* line 71, ../scss/style.scss */
header div.header-img {
  height: 453px;
  background: url(../img/jumbotron.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* line 81, ../scss/style.scss */
div.portfolio {
  padding: 55px 5px;
}
/* line 84, ../scss/style.scss */
div.portfolio div.portfolio-top {
  text-align: center;
  margin-bottom: 40px;
}
/* line 88, ../scss/style.scss */
div.portfolio div.portfolio-top h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
/* line 96, ../scss/style.scss */
div.portfolio div.portfolio-nav nav {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
@media (max-width: 480px) {
  /* line 96, ../scss/style.scss */
  div.portfolio div.portfolio-nav nav {
    width: 52%;
  }
}
/* line 106, ../scss/style.scss */
div.portfolio div.portfolio-nav ul {
  padding-top: 20px;
  display: inline-block;
}
@media (max-width: 480px) {
  /* line 106, ../scss/style.scss */
  div.portfolio div.portfolio-nav ul {
    padding-top: 0;
    text-align: center;
  }
}
/* line 115, ../scss/style.scss */
div.portfolio div.portfolio-nav ul li {
  float: left;
}
@media (max-width: 480px) {
  /* line 115, ../scss/style.scss */
  div.portfolio div.portfolio-nav ul li {
    margin-bottom: 29px;
    width: 100%;
  }
}
/* line 123, ../scss/style.scss */
div.portfolio div.portfolio-nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 10px;
  background-color: #1bbc9b;
  margin-right: 15px;
}
@media (max-width: 480px) {
  /* line 123, ../scss/style.scss */
  div.portfolio div.portfolio-nav ul li a {
    margin-right: 0;
  }
}
/* line 134, ../scss/style.scss */
div.portfolio div.portfolio-nav ul li a:hover {
  background-color: #16a086;
}
