/* line 17, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../scss/style.scss */
.cf:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 11, ../scss/style.scss */
body {
  font-family: 'Lato', sans-serif;
}

/* line 15, ../scss/style.scss */
div.container {
  width: 70%;
  padding: 0 15px;
  margin: 0 auto;
}

/* line 23, ../scss/style.scss */
header div.header-top {
  padding: 25px 0;
  background-color: #ffffff;
}
/* line 27, ../scss/style.scss */
header div.header-top ul {
  float: right;
  padding-top: 20px;
}
/* line 31, ../scss/style.scss */
header div.header-top ul li {
  float: left;
}
/* line 34, ../scss/style.scss */
header div.header-top ul li a {
  color: #444444;
  text-decoration: none;
  padding: 0.5em 1em;
}
@media (max-width: 768px) {
  /* line 34, ../scss/style.scss */
  header div.header-top ul li a {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  /* line 34, ../scss/style.scss */
  header div.header-top ul li a {
    font-size: 15px;
    padding: 5px 5px;
  }
}
/* line 48, ../scss/style.scss */
header div.header-top ul li a:hover {
  background-color: #1bbc9b;
  color: #ffffff;
}
/* line 56, ../scss/style.scss */
header div.header-top div.logo {
  float: left;
}
@media (max-width: 480px) {
  /* line 56, ../scss/style.scss */
  header div.header-top div.logo {
    float: none;
  }
}
/* line 63, ../scss/style.scss */
header div.header-top div.logo a {
  text-align: center;
  display: block;
}
/* line 71, ../scss/style.scss */
header div.header-img {
  height: 453px;
  background: url(../img/jumbotron.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* line 81, ../scss/style.scss */
div.portfolio {
  padding: 55px 5px;
}
/* line 84, ../scss/style.scss */
div.portfolio div.portfolio-top {
  text-align: center;
  margin-bottom: 40px;
}
/* line 88, ../scss/style.scss */
div.portfolio div.portfolio-top h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
/* line 96, ../scss/style.scss */
div.portfolio div.portfolio-nav nav {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  /* @media (max-width: 480px){
    width: 52%;
  } */
}
/* line 106, ../scss/style.scss */
div.portfolio div.portfolio-nav ul {
  padding-top: 20px;
  display: inline-block;
}
@media (max-width: 708px) {
  /* line 106, ../scss/style.scss */
  div.portfolio div.portfolio-nav ul {
    padding-top: 0;
    text-align: center;
  }
}
/* line 115, ../scss/style.scss */
div.portfolio div.portfolio-nav ul li {
  float: left;
}
@media (max-width: 708px) {
  /* line 115, ../scss/style.scss */
  div.portfolio div.portfolio-nav ul li {
    margin-bottom: 29px;
    width: 100%;
  }
}
/* line 123, ../scss/style.scss */
div.portfolio div.portfolio-nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 10px;
  background-color: #1bbc9b;
  margin-right: 15px;
}
@media (max-width: 708px) {
  /* line 123, ../scss/style.scss */
  div.portfolio div.portfolio-nav ul li a {
    margin-right: 0;
  }
}
/* line 134, ../scss/style.scss */
div.portfolio div.portfolio-nav ul li a:hover {
  background-color: #16a086;
}
/* line 144, ../scss/style.scss */
div.portfolio div.portfolio-img div.img-top {
  margin: 10px auto;
  position: relative;
  text-align: center;
}
/* line 149, ../scss/style.scss */
div.portfolio div.portfolio-img div.img-top div.img:first-of-type {
  padding-left: 0;
}
/* line 153, ../scss/style.scss */
div.portfolio div.portfolio-img div.img-top div.img {
  width: 17.5%;
  display: inline-block;
  margin: 1.813em;
}
@media (max-width: 1158px) {
  /* line 153, ../scss/style.scss */
  div.portfolio div.portfolio-img div.img-top div.img {
    width: 32.5%;
  }
}
@media (max-width: 496px) {
  /* line 153, ../scss/style.scss */
  div.portfolio div.portfolio-img div.img-top div.img {
    width: 62.5%;
    margin-top: 0;
    margin-bottom: 1em;
  }
}
/* line 168, ../scss/style.scss */
div.portfolio div.portfolio-img div.img-top div.img span {
  margin: 0 auto;
}
/* line 172, ../scss/style.scss */
div.portfolio div.portfolio-img div.img-top div.img span.c1 {
  background: url("../img/circles.png") no-repeat -8px 0;
  width: 170px;
  height: 180px;
  display: block;
}
/* line 179, ../scss/style.scss */
div.portfolio div.portfolio-img div.img-top div.img span.c2 {
  background: url("../img/circles.png") no-repeat -182px 0;
  width: 177px;
  height: 181px;
  display: block;
}
/* line 186, ../scss/style.scss */
div.portfolio div.portfolio-img div.img-top div.img span.c3 {
  background: url("../img/circles.png") no-repeat -362px 0;
  width: 179px;
  height: 180px;
  display: block;
}
/* line 193, ../scss/style.scss */
div.portfolio div.portfolio-img div.img-top div.img span.c4 {
  background: url("../img/circles.png") no-repeat -543px 0;
  width: 178px;
  height: 180px;
  display: block;
}
/* line 202, ../scss/style.scss */
div.portfolio div.portfolio-img div.img-down {
  margin: 10px auto;
  position: relative;
  text-align: center;
}
/* line 207, ../scss/style.scss */
div.portfolio div.portfolio-img div.img-down div.img:first-of-type {
  padding-left: 0;
}
/* line 211, ../scss/style.scss */
div.portfolio div.portfolio-img div.img-down div.img {
  width: 17.5%;
  display: inline-block;
  margin: 1.813em;
}
@media (max-width: 1158px) {
  /* line 211, ../scss/style.scss */
  div.portfolio div.portfolio-img div.img-down div.img {
    width: 32.5%;
  }
}
@media (max-width: 496px) {
  /* line 211, ../scss/style.scss */
  div.portfolio div.portfolio-img div.img-down div.img {
    width: 62.5%;
    margin-top: 0;
    margin-bottom: 1em;
  }
}
/* line 226, ../scss/style.scss */
div.portfolio div.portfolio-img div.img-down div.img span {
  margin: 0 auto;
}
/* line 230, ../scss/style.scss */
div.portfolio div.portfolio-img div.img-down div.img span.c5 {
  background: url("../img/circles.png") no-repeat -5px -184px;
  width: 170px;
  height: 180px;
  display: block;
}
/* line 237, ../scss/style.scss */
div.portfolio div.portfolio-img div.img-down div.img span.c6 {
  background: url("../img/circles.png") no-repeat -181px -184px;
  width: 176px;
  height: 180px;
  display: block;
}
/* line 244, ../scss/style.scss */
div.portfolio div.portfolio-img div.img-down div.img span.c7 {
  background: url("../img/circles.png") no-repeat -367px -184px;
  width: 170px;
  height: 180px;
  display: block;
}
/* line 251, ../scss/style.scss */
div.portfolio div.portfolio-img div.img-down div.img span.c8 {
  background: url("../img/circles.png") no-repeat -543px -184px;
  width: 177px;
  height: 180px;
  display: block;
}

/* line 262, ../scss/style.scss */
div.about {
  padding: 55px 5px;
  background-color: #16a086;
}
/* line 266, ../scss/style.scss */
div.about div.about-top {
  text-align: center;
  margin-bottom: 40px;
}
/* line 270, ../scss/style.scss */
div.about div.about-top h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
/* line 275, ../scss/style.scss */
div.about div.about-top h2, div.about div.about-top p {
  color: #ffffff;
}
/* line 282, ../scss/style.scss */
div.about div.photos div.photo {
  width: 28%;
  float: left;
  background: #FFF;
  margin-right: 8%;
}
@media (max-width: 768px) {
  /* line 282, ../scss/style.scss */
  div.about div.photos div.photo {
    width: 100%;
    margin-top: 0;
    margin-bottom: 2em;
  }
}
/* line 294, ../scss/style.scss */
div.about div.photos div.photo img.person {
  width: 100%;
}
/* line 300, ../scss/style.scss */
div.about div.photos div.photo div.about-text h3 {
  color: #292828;
  font-size: 1.4em;
  margin-top: 15px;
  text-align: center;
}
/* line 307, ../scss/style.scss */
div.about div.photos div.photo div.about-text p:nth-child(2) {
  text-align: center;
  color: #444444;
  font-size: 1.1em;
  font-style: italic;
  margin: 5px 25px 9px 25px;
  padding: 0;
}
/* line 316, ../scss/style.scss */
div.about div.photos div.photo div.about-text p:nth-child(3) {
  color: #444444;
  font-size: 1.02em;
  text-align: left;
  padding: 1em 1em 2em 1em;
  line-height: 1.9em;
}
/* line 326, ../scss/style.scss */
div.about div.photos div.photo:nth-child(3) {
  margin-right: 0;
}

/* line 332, ../scss/style.scss */
div.contact {
  padding: 55px 5px;
  background-color: #ecf0f1;
}
/* line 336, ../scss/style.scss */
div.contact div.contact-top {
  text-align: center;
  margin-bottom: 40px;
}
/* line 340, ../scss/style.scss */
div.contact div.contact-top h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
/* line 346, ../scss/style.scss */
div.contact div.form {
  width: 75%;
  margin: 0 auto;
}
@media (max-width: 1638px) {
  /* line 346, ../scss/style.scss */
  div.contact div.form {
    width: 100%;
  }
}
/* line 356, ../scss/style.scss */
div.contact div.form form input, div.contact div.form form textarea {
  padding: 15px;
  display: block;
  width: 44.5%;
  background: #ffffff;
  outline: none;
  color: #888282;
  font-size: 0.8125em;
  -webkit-appearance: none;
  float: left;
  margin-right: 2em;
  font-family: 'Lato', sans-serif;
  border: 2px solid #cacaca;
  margin-bottom: 25px;
}
@media (max-width: 1232px) {
  /* line 356, ../scss/style.scss */
  div.contact div.form form input, div.contact div.form form textarea {
    width: 44%;
  }
}
@media (max-width: 1128px) {
  /* line 356, ../scss/style.scss */
  div.contact div.form form input, div.contact div.form form textarea {
    width: 95.5%;
  }
}
@media (max-width: 800px) {
  /* line 356, ../scss/style.scss */
  div.contact div.form form input, div.contact div.form form textarea {
    width: 93%;
  }
}
/* line 384, ../scss/style.scss */
div.contact div.form form input.email {
  margin-right: 0;
}
/* line 388, ../scss/style.scss */
div.contact div.form form textarea {
  width: 95.5%;
  resize: none;
  height: 180px;
}
@media (max-width: 800px) {
  /* line 388, ../scss/style.scss */
  div.contact div.form form textarea {
    width: 93%;
  }
}
/* line 398, ../scss/style.scss */
div.contact div.form form input.submit {
  width: 15%;
  font-family: 'Lato', sans-serif;
  color: #fff;
  padding: 0.8em 1.5em;
  background: #1BBC9B;
  border: 1px solid #1BBC9B;
  display: block;
  cursor: pointer;
  font-size: 1em;
  outline: none;
  float: right;
  margin-right: 0;
}
@media (max-width: 1232px) {
  /* line 398, ../scss/style.scss */
  div.contact div.form form input.submit {
    width: 20%;
  }
}
@media (max-width: 800px) {
  /* line 398, ../scss/style.scss */
  div.contact div.form form input.submit {
    width: 100%;
  }
}
@media (max-width: 480px) {
  /* line 398, ../scss/style.scss */
  div.contact div.form form input.submit {
    width: 95%;
  }
}
