@import 'compass/reset';

.cf:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

body{
  font-family: 'Lato', sans-serif;
}

div.container{
  width: 75%;
  padding: 0 15px;
  margin: 0 auto;
}

header{

  div.header-top{
    padding: 25px 0;
    background-color: #ffffff;

    ul{
      float: right;
      padding-top: 20px;

      li{
        float: left;

        a{
          color: #444444;
          text-decoration: none;
          padding: 0.5em 1em;

          @media (max-width: 768px){
            font-size: 15px;
          }

          @media (max-width: 480px){
            font-size: 15px;
            padding: 5px 5px;
          }

          &:hover{
            background-color: #1bbc9b;
            color: #ffffff;
          }
        }
      }
    }

    div.logo{
      float: left;

      @media (max-width: 480px){
        float: none;
      }

      a{
        text-align: center;
        display: block;
      }
      
    }
  }

  div.header-img{
    height: 453px;
    background: url(../img/jumbotron.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}

div.portfolio{
  padding: 55px 5px;
  
  div.portfolio-top{
    text-align: center;
    margin-bottom: 40px;

    h2{
      font-size: 28px;
      margin-bottom: 20px;
    }
  }

  div.portfolio-nav{

    nav{
      margin: 0 auto;
      width: 100%;
      text-align: center;

      @media (max-width: 480px){
        width: 52%;
      }
    }

    ul{
      padding-top: 20px;
      display: inline-block;

      @media (max-width: 480px){
        padding-top: 0;
        text-align: center;
      }

      li{
        float: left;

        @media (max-width: 480px){
          margin-bottom: 29px;
          width: 100%;
        }

        a{
          color: #ffffff;
          text-decoration: none;
          padding: 10px 10px;
          background-color: #1bbc9b;
          margin-right: 15px;

          @media (max-width: 480px){
            margin-right: 0;
          }

          &:hover{
            background-color: #16a086;
          }
        }
      }
    }
  }
}






















