@import 'compass/reset';

.cf:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

body{
  font-family: 'Lato', sans-serif;
}

div.container{
  width: 70%;
  padding: 0 15px;
  margin: 0 auto;
}

header{

  div.header-top{
    padding: 25px 0;
    background-color: #ffffff;

    ul{
      float: right;
      padding-top: 20px;

      li{
        float: left;

        a{
          color: #444444;
          text-decoration: none;
          padding: 0.5em 1em;

          @media (max-width: 768px){
            font-size: 15px;
          }

          @media (max-width: 480px){
            font-size: 15px;
            padding: 5px 5px;
          }

          &:hover{
            background-color: #1bbc9b;
            color: #ffffff;
          }
        }
      }
    }

    div.logo{
      float: left;

      @media (max-width: 480px){
        float: none;
      }

      a{
        text-align: center;
        display: block;
      }
      
    }
  }

  div.header-img{
    height: 453px;
    background: url(../img/jumbotron.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}

div.portfolio{
  padding: 55px 5px;
  
  div.portfolio-top{
    text-align: center;
    margin-bottom: 40px;

    h2{
      font-size: 28px;
      margin-bottom: 20px;
    }
  }

  div.portfolio-nav{

    nav{
      margin: 0 auto;
      width: 100%;
      text-align: center;

      /* @media (max-width: 480px){
        width: 52%;
      } */
    }

    ul{
      padding-top: 20px;
      display: inline-block;

      @media (max-width: 708px){
        padding-top: 0;
        text-align: center;
      }

      li{
        float: left;

        @media (max-width: 708px){
          margin-bottom: 29px;
          width: 100%;
        }

        a{
          color: #ffffff;
          text-decoration: none;
          padding: 10px 10px;
          background-color: #1bbc9b;
          margin-right: 15px;

          @media (max-width: 708px){
            margin-right: 0;
          }

          &:hover{
            background-color: #16a086;
          }
        }
      }
    }
  }

  div.portfolio-img{

    div.img-top{
      margin: 10px auto;
      position: relative;
      text-align: center;

      div.img:first-of-type{
        padding-left: 0;
      }

      div.img{
        width: 17.5%;
        display:inline-block;
        margin: 1.813em;
        
        @media (max-width: 1158px){
          width: 32.5%;
        }

        @media (max-width: 496px){
          width: 62.5%;
          margin-top: 0;
          margin-bottom: 1em;
        }

        span{
          margin: 0 auto;
        }

        span.c1{
          background: url('../img/circles.png') no-repeat -8px 0;
          width: 170px;
          height: 180px;
          display: block;
        }

        span.c2{
          background: url('../img/circles.png') no-repeat -182px 0;
          width: 177px;
          height: 181px;
          display: block;
        }

        span.c3{
          background: url('../img/circles.png') no-repeat -362px 0;
          width: 179px;
          height: 180px;
          display: block;
        }

        span.c4{
          background: url('../img/circles.png') no-repeat -543px 0;
          width: 178px;
          height: 180px;
          display: block;
        }
      }
    }

    div.img-down{
      margin: 10px auto;
      position: relative;
      text-align: center;

      div.img:first-of-type{
        padding-left: 0;
      }

      div.img{
        width: 17.5%;
        display:inline-block;
        margin: 1.813em;
        
        @media (max-width: 1158px){
          width: 32.5%;
        }

        @media (max-width: 496px){
          width: 62.5%;
          margin-top: 0;
          margin-bottom: 1em;
        }

        span{
          margin: 0 auto;
        }

        span.c5{
          background: url('../img/circles.png') no-repeat -5px -184px;
          width: 170px;
          height: 180px;
          display: block;
        }

        span.c6{
          background: url('../img/circles.png') no-repeat -181px -184px;
          width: 176px;
          height: 180px;
          display: block;
        }

        span.c7{
          background: url('../img/circles.png') no-repeat -367px -184px;
          width: 170px;
          height: 180px;
          display: block;
        }

        span.c8{
          background: url('../img/circles.png') no-repeat -543px -184px;
          width: 177px;
          height: 180px;
          display: block;
        }
      }
    }
  }
}

div.about{
  padding: 55px 5px;
  background-color: #16a086;
  
  div.about-top{
    text-align: center;
    margin-bottom: 40px;

    h2{
      font-size: 28px;
      margin-bottom: 20px;
    }

    h2,p{
      color: #ffffff;
    }
  }

  div.photos{

    div.photo{
      width: 28%;
      float: left;
      background: #FFF;
      margin-right: 8%;

      @media (max-width: 768px){
        width: 100%;
        margin-top: 0;
        margin-bottom: 2em;
      }

      img.person{
        width: 100%;
      }

      div.about-text{

        h3{
          color: #292828;
          font-size: 1.4em;
          margin-top: 15px;
          text-align: center;
        }

        p:nth-child(2) {
          text-align: center;
          color: #444444;
          font-size: 1.1em;
          font-style: italic;
          margin: 5px 25px 9px 25px;
          padding: 0;
        }

        p:nth-child(3) {
          color: #444444;
          font-size: 1.02em;
          text-align: left;
          padding: 1em 1em 2em 1em;
          line-height: 1.9em;
        }
      }
    }

    div.photo:nth-child(3) {
      margin-right: 0;
    }
  }
}

div.contact{
  padding: 55px 5px;
  background-color: #ecf0f1;
  
  div.contact-top{
    text-align: center;
    margin-bottom: 40px;

    h2{
      font-size: 28px;
      margin-bottom: 20px;
    }
  }

  div.form{
    width: 75%;
    margin: 0 auto;

    @media (max-width: 1638px){
      width: 100%;
    }

    form{

      input, textarea{
        padding: 15px;
        display: block;
        width: 44.5%;
        background: #ffffff;
        outline: none;
        color: #888282;
        font-size: 0.8125em;
        -webkit-appearance: none;
        float: left;
        margin-right: 2em;
        font-family: 'Lato', sans-serif;
        border: 2px solid #cacaca;
        margin-bottom: 25px;

        @media (max-width: 1232px){
          width: 44%;
        }

        @media (max-width: 1128px){
          width: 95.5%;
        }

        @media (max-width: 800px){
          width: 93%;
        }
      }

      input.email{
        margin-right: 0;
      }

      textarea{
        width: 95.5%;
        resize: none;
        height: 180px;

        @media (max-width: 800px){
          width: 93%;
        }
      }

      input.submit{
        width: 15%;
        font-family: 'Lato', sans-serif;
        color: #fff;
        padding: 0.8em 1.5em;
        background: #1BBC9B;
        border: 1px solid #1BBC9B;
        display: block;
        cursor: pointer;
        font-size: 1em;
        outline: none;
        float: right;
        margin-right: 0;

        @media (max-width: 1232px){
          width: 20%;
        }

        @media (max-width: 800px){
          width: 100%;
        }

        @media (max-width: 480px){
          width: 95%;
        }
      }
    }
  }
}






















